@import url(https://fonts.google.com/specimen/Poppins#license);

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#slider {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #111c34;
    position: relative;
    margin-bottom: 20px;
}

#rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.range {
    width: 200px;
    height: 15px;
    -webkit-appearance: none;
    background: #fff;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f82249;
    cursor: pointer;
    border: 4px solid #fff;
    box-shadow: -407px 0 0 400px #f82249;
}

#wslider button {
    border: 0;
    padding: 9px 27px;
    /* margin-left: 50px; */
    cursor: pointer;
    background: #f82249;
    color: #fff;
    transition: all 0.3s ease;
    outline: none;
    font-size: 10px;
    border-radius: 16px;
  }
  
  #donate button:hover {
    background: #e0072f;
  }