.ForgotPage{
    .Body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        *{
            margin-bottom: 20px;
        }
    }

    .input,form{width: 100%;}
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}