.ContactPage{
    .Body{
        display: flex;
        flex-direction: column;;
        justify-content: center;
        align-items: center;

        textarea{
            resize: none;
            width: 100%;
            height: 150px;
            margin: 5px 0;
        }
    }
}